<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Square Of Number!</title>
</head>
<body>
<h1><i> Chào mừng bạn đến với trang Toán</i></h1>
	<p>Logic định hình mọi lựa chọn trong cuộc sống hàng ngày của chúng ta<br>
	Tư duy logic cho phép con người học hỏi và
  đưa ra những quyết định có ảnh hưởng tới lối sống của họ. !</p>
	<form method="POST" action ="#">
		Nhập vào một số :
		<input type="text" name="num" id="num"></input>
		<input type="submit" name="btnnum" id="btnnum"></input>
</form>
</body>
</html>